//Colors
@maroon: #800000;

@white: #FFFAFA;

@black: #000000;

@lightGray: #C0C0C0; //#DCDCDC
@mediumGray: #696969;

@lightGreen: #32CD32;
@mediumGreen: #1D761D;

@yellow: #E6E600;

@red: #CF0000;

//Constants for components

@backgroundColor: @black;
@headingColor: @maroon;
@blockBackground: @mediumGray;
@headerBackground: @maroon;

@textColor: @white;

//Tabs
@tabBackground: @mediumGray;
@tabText: @black;
@activeTabText: @red;

//Tables
@tableText: @black;

//Links
@linkColor: @yellow;
@linkVisitedColor: @lightGray;
@linkHoverColor: @lightGreen;

//Colors for status messages
@info: @mediumGreen;
@warn: @yellow;
@error: @red;